{% macro macroModalNoVeSerial(title, serial, idUser) %}
<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-2 fw-bolder" id="staticBackdropLabel">{{title}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/crdnv" method="post">
                    <div class="row">
                        {% for item in serial%}
                        <div class="col-md-6">
                            <div class="d-none">
                                <input type="text" class="" id="txtIdProducto" name="txtIdProducto" value="{{item.pfsabprodid}}">
                            </div>
                            <div>
                                <strong class="fs-1 fw-bolder">Nombre: </strong><span
                                    class="display-6">{{item.pfsabprodnombre}}</span>
                            </div>
                            <div>
                                <strong class="fs-1 fw-bolder">Detalle: </strong><span
                                    class="display-6">{{item.pfsabproddetalle}}</span>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label class="fs-1 fw-bolder" for="txtCantidad">Cantidad</label>
                                    <input type="number" class="form-control" id="txtCantidad" name="txtCantidad"
                                        placeholder="Cantidad Enter">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label class="fs-1 fw-bolder" for="txtPrecio">Precio</label>
                                    <input type="text" class="form-control inputTextDisabled" id="txtPrecio" name="txtPrecio"
                                        placeholder="Cantidad Enter" value="{{item.pfsabprodprecio}}">
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
                                    <label class="fs-1 fw-bolder" for="txtTotal">Total</label>
                                    <input type="text" class="form-control inputTextDisabled" id="txtTotal" name="txtTotal"
                                        placeholder="Total Enter" value="">
                                </div>
                            </div>
                            <div>
                                <strong class="fs-1 fw-bolder">Stock: </strong><span
                                    class="display-6">{{item.pfsabprodstock}}</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img style="width: 15vw;" src="{{item.pfsabprodimage}}" alt="">
                            <div class="text-center p-4">
                                {% if idUser == 1 %}
                                <button type="submit" class="btn btn-primary">Añadir</button>
                                {% else %}
                                <a href="/aru"><button type="button" class="btn btn-danger">Login</button></a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
{% endmacro %}